
@{
    
    var a = 10;
    var b = 20;
    string s = "helloworld"; 
}

<h2>Hello</h2>

<body>
    <div>
        <h1>
            welocme
        </h1>
        <div>结果：@ViewBag.sum</div>
        <h2>@DateTime.Now.ToString()</h2>
        <h3>@(a + b)</h3>
        <h3>@s</h3>
    </div>
</body>
